<nav>
	{% if security.registerable or security.recoverable or security.confirmabled %}
		<ul class="nav nav-account">
			{% if current_user.is_authenticated %}
				<li><a href="{{ url_for_security('logout') }}">Logout</a></li>
			{% else %}
				<li><a href="{{ url_for_security('login') }}">Login</a></li>
				{% if security.registerable %}
				<li><a href="{{ url_for_security('register') }}">Register</a></li>
				{% endif %}
				{% if security.recoverable %}
				<li><a href="{{ url_for_security('forgot_password') }}">Forgot password</a></li>
				{% endif %}
				{% if security.confirmable %}
				<li><a href="{{ url_for_security('send_confirmation') }}">Confirm account</a></li>
				{% endif %}
			{% endif %}
		</ul>
	{% endif %}

	<ul class="nav nav-main">
		<li><a href="{{ url_for('home') }}">Home</a></li>
		<li><a href="{{ url_for('dashboard') }}">Dashboard</a></li>
	</ul>
</nav>