<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<title>{% block title %}{% endblock %} - {{config.APP_NAME}}</title>
		{% endblock %}
	</head>
	<body>
		{% include "_nav.html" %}

		<section class="content">
            {% include "security/_messages.html" %}
			{% block content %}{% endblock %}
		</section>

		<footer>
			{% block footer %}
			{% endblock %}
		</footer>

	</body>
</html>