{% extends "layout.html" %}

{% block content %}

{% include "security/_messages.html" %}

<h1>TOKEN PROTECTED RESOURCE</h1>

<!-- i18n & I10n -->
<p>{{ gettext('It works! This page is only accessible for token users.') }}</p>

{% endblock %}