#!/bin/bash

NAME="{{ flaskapp_app_name }}"
FLASKDIR="{{ flaskapp_app }}"
VENVDIR=$FLASKDIR/env
SOCKFILE=$FLASKDIR/sock
NUM_WORKERS=2
HOST=127.0.0.1
PORT={{ flaskapp_port }}
APPDIR="{{ flaskapp_app }}"
ENVDIR="{{ flaskapp_app_directory }}"
GROUP=root
USER=ubuntu

echo "Starting $NAME"

# activate the virtualenv
cd $VENVDIR
source bin/activate

export PYTHONPATH=$APPDIR:$ENVDIR:$PYTHONPATH

# Create the run directory if it doesn't exist
RUNDIR=$(dirname $SOCKFILE)
test -d $RUNDIR || mkdir -p $RUNDIR

# Start gunicorn
exec $VENVDIR/bin/gunicorn --bind $HOST:$PORT --workers $NUM_WORKERS --log-level=warn wsgi:app
