upstream {{ flaskapp_app_name }} {
  server 127.0.0.1:{{ flaskapp_port }};
}

server {
    listen 80;
    server_name {{ host }};
    return 301 https://$server_name$request_uri;
    location / {
        proxy_pass  http://127.0.0.1:{{ flaskapp_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /static {
        alias  {{ flaskapp_nginx_static_dir }};
    }
}

server {
    listen 443 ssl;
    server_name {{ host }};
    # SSL configuration
    include snippets/ssl-auth.paycast.io.conf;
    include snippets/ssl-params.conf;

    access_log off;


    location / {
        proxy_pass  http://127.0.0.1:{{ flaskapp_port }};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header Host $http_host;
        proxy_set_header X-Forwarded-For $remote_addr;
        proxy_set_header X-Real-IP $remote_addr;
    }

    location /static {
        alias  {{ flaskapp_nginx_static_dir }};
    }
}
